.md
  &__btn
    cursor: pointer !important
    transition: .35s color ease-out, background .3s !important

    &:hover, &._active
      color: #cc0000 !important

  &__textarea
    overflow-wrap: break-word
    min-height: 202px
    padding: 12px
    resize: vertical
    width: 100%
